@import "tailwindcss";

@layer base {
	html, :host {
		font-size: var(--text-base);
		line-height: var(--text-base--line-height);
		font-weight: var(--font-weight-normal);
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: var(--color-scrollbar-thumb) transparent;
	}

	/* Toast animation classes */
	@keyframes toast-in {
		0% {
			transform: translateX(110%);
		}
		100% {
			transform: translateX(0);
		}
	}

	.toast-in {
		animation: toast-in 150ms ease-in-out;
	}

	.toast-out {
		animation: toast-in 150ms ease-in-out reverse;
	}

	/* Filters css */
	.range-input {
		cursor: grab;
		&:active {
			cursor: grabbing;
		}

		&::-ms-track {
			appearance: none;
		}
		&::-moz-range-track {
			appearance: none;
		}
		&:focus::-webkit-slider-runnable-track {
			appearance: none;
		}

		&::-ms-thumb {
			pointer-events: all;
		}
		&::-webkit-slider-thumb {
			pointer-events: all;
		}
		&::-moz-range-thumb {
			pointer-events: all;
		}
	}
}

@theme {
	--breakpoint-xs: 32rem;
	--text-xs: 0.625rem;
	--text-xs--line-height: calc(0.75 / 0.625);
	--text-sm: 0.75rem;
	--text-sm--line-height: calc(1 / 0.75);
	--text-base: 0.875rem;
	--text-base--line-height: calc(1.25 / 0.875);
	--text-lg: 1rem;
	--text-lg--line-height: calc(1.5 / 1);
	--text-xl: 1.125rem;
	--text-xl--line-height: calc(1.75 / 1.125);
	--text-2xl: 1.25rem;
	--text-2xl--line-height: calc(1.75 / 1.25);
	--text-3xl: 1.5rem;
	--text-3xl--line-height: calc(2 / 1.5);
	--text-4xl: 1.875rem;
	--text-4xl--line-height: calc(2.25 / 1.875);
	--text-5xl: 2.25rem;
	--text-5xl--line-height: calc(2.5 / 2.25);
	--text-6xl: 3rem;
	--text-6xl--line-height: 1;
	--text-7xl: 3.75rem;
	--text-7xl--line-height: 1;
	--text-8xl: 4.5rem;
	--text-8xl--line-height: 1;
	--text-9xl: 6rem;
	--text-9xl--line-height: 1;

	/**
	 ** General
	 **/
	--color-primary: var(--color-amber-400);
	--color-on-primary: var(--color-amber-100);
	--color-primary-disabled: var(--color-amber-500);

	--color-secondary: var(--color-sky-400);
	--color-on-secondary: var(--color-sky-50);
	--color-secondary-disabled: var(--color-sky-600);

	--color-cancel: var(--color-gray-400);
	--color-on-cancel: var(--color-gray-800);
	--color-cancel-disabled: var(--color-gray-500);

	--color-danger: var(--color-rose-400);
	--color-on-danger: var(--color-rose-100);
	--color-danger-disabled: --alpha(var(--color-rose-500) / 0.75);

	--color-background: var(--color-stone-900);
	--color-scrollbar-thumb: var(--color-stone-600);

	--color-text: var(--color-amber-50);

	/**
	 ** Components
	 **/

	/* Header */
	--color-header: var(--color-gray-950);

	/* SideBar */
	--color-sidebar: var(--color-gray-950);
	--color-sidebar-fade: --alpha(var(--color-black) / 50%);

	--color-sidebar-item-hover: var(--color-gray-900);
	--color-sidebar-item-active: var(--color-gray-900);

	/* Table */
	--color-table-header: var( --color-gray-950);
	--color-table-header-hover: var(--color-neutral-800);
	--color-table-hover: var(--color-zinc-800);
	--color-table-even: var(--color-zinc-900);
	--color-table-odd: var(--color-zinc-950);
	--color-table-footer: var(--color-neutral-900);
	--color-table-border: --alpha(var(--color-amber-100) / 0.25);
	--color-table-loading: var(--color-amber-100);

	/* Card */
	--color-card: var(--color-stone-800);
	--color-card-border: --alpha(var(--color-amber-100) / 0.25);

	/* Input */
	--color-input: var(--color-zinc-900);
	--color-input-text: var(--color-stone-200);
	--color-input-label: var(--color-stone-400);
	--color-input-border: --alpha(var(--color-amber-100) / 0.35);
	--color-input-focus: --alpha(var(--color-amber-100) / 0.5);
	--color-input-text-disabled: var(--color-stone-400);
	--color-input-label-disabled: var(--color-stone-600);
	--color-input-border-disabled: --alpha(var(--color-amber-100) / 0.25);
	--color-input-selected: var(--color-zinc-950);
	--color-input-select-options-hover: var(--color-zinc-800);

	/* Modal */
	--color-modal-screen: --alpha(var(--color-black) / 40%);

	/* DropDown */
	--color-dropdown-bg: var(--color-zinc-900);
	--color-dropdown-border: --alpha(var(--color-amber-100) / 0.25);

	/* Toast */
	--color-toast: var(--color-zinc-900);
	--color-toast-border: --alpha(var(--color-amber-100) / 0.35);
	--color-toast-undefined: var(--color-gray-400)
}